{% extends 'partials/base.html '%}

<!--Index Page Title-->
{% block title %}
<title>Home Page</title>
{% endblock %}

<!--Index Content -->
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body shadow">
                    <h3>Form to add a post</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="Image of post">
                    
                        </div>
                        <div class="col-md-8">
                            <div class="card-body shadow my-2">
                                <small>Post 1</small>
                                <small>6th Oct 20221</small>
                                <hr/>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt debitis incidunt doloremque voluptatum reiciendis quos ratione totam praesentium itaque, quae modi, sit ipsum laborum recusandae soluta accusamus! Repellat, amet voluptates.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="Image of post">
                    
                        </div>
                        <div class="col-md-8">
                            <div class="card-body shadow my-2">
                                <small>Post 2</small>
                                <small>6th Oct 20221</small>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt debitis incidunt doloremque voluptatum reiciendis quos ratione totam praesentium itaque, quae modi, sit ipsum laborum recusandae soluta accusamus! Repellat, amet voluptates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="Image of post">
                    
                        </div>
                        <div class="col-md-8">
                            <div class="card-body shadow my-2">
                                <small>Post 3</small>
                                <small>6th Oct 20221</small>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt debitis incidunt doloremque voluptatum reiciendis quos ratione totam praesentium itaque, quae modi, sit ipsum laborum recusandae soluta accusamus! Repellat, amet voluptates.</p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</div>



{% endblock %}